<%- include('../components/navbar.ejs') -%>

    <div class="experience-area pad100 xs-pt-0 rs-pd-tp">
        <div class="container">

            <div class="section-title text-center">
                <div class="title-text">
                    <h2>What is a health insurance</h2>
                </div>
                <p class="mb-5">Health insurance is a type of insurance that covers medical expenses incurred on an
                    illnessor injury. These medical expenses include hospitalisation expenses, medicine cost and
                    doctor/physician fees as well.

                    Health insurance aims to take care of your expenses in a time of medical crisis. To put it simply,
                    the insured pays regular premiums to the insurance provider, and in return, they offer financial
                    support to them.


                </p>
            </div>

            <div class="row">

                <div class="mx-auto col-xl-10 col-lg-10 col-md-12 col-sm-10 col-12">
                    <div id="accordion" role="tablist">

                        <h4>Key benefits of health insurance</h4>
                        <br>
                        <p>1. Optimum Cover for Health-related Issues:
                            <br><br>
                            Needless to say, it has become very easy for any individual to fall ill. Be it a kid or an
                            adult, all have become sensitive to illness, whether due to pollution or hectic lifestyle.
                            Buying a policy online will help you tackle health-related issues and avail the best
                            possible medical treatment without worrying about expenses.
                        </p>


                        <p>
                            2. Financial Safety Against Rising Medicinal Costs
                            <br><br>
                            With the passage of time, the cost of medical treatment is also increasing. More and more
                            people are preferring health insurance in India to gain security against these sky-rocketing
                            costs. In this scenario, health insurance is coming across as the best solution to safeguard
                            oneself against massive, unavoidable expenses. You too can buy a policy online and avoid
                            paying big amounts in the hospital or spending too much money on medicines. What’s best is
                            that you won’t have to give away anything from your savings.
                        </p>

                        <p>
                            3. More benefits of young buyers:
                            <br><br>
                            You earn more benefits of health insurance when you buy it at a young age. Young health
                            insurance buyers do not have to deal with the waiting period. Also, they don’t have to face
                            high claim rejections.
                            <br>
                            In detail, at Health Insurance at an Early Age? Discover the need for it!

                        </p>

                        <p>
                            4. Profitable deals:
                            <br><br>
                            In the health insurance sector, early planning can get you a great deal. If you start
                            planning health insurance purchase early, you become eligible for better benefits than
                            others, be it adults or senior citizens at a low premium. Since chances of getting ill at an
                            early age are less, it becomes easy to get through waiting periods, pre-existing diseases
                            and more. Moreover, it gets easy to claim all the benefits.
                        </p>

                        <p>
                            5. Additional Protection Over and Above Employer Cover:
                            <br><br>
                            Most organizations provide their employees with group health insurance coverage. However,
                            many people may find the group policy to be unfit for their needs. Yet another issue that
                            most people have with their corporate insurance is that it ends with the loss of job or
                            change in employment. In this case, having a basic health insurance policy helps one protect
                            their health and financial stability when an emergency situation occurs.
                        </p>

                        <p>
                            6. Less Deduction in Income Tax:
                            <br><br>
                            As per the Section 80D of the Income Tax Act, an individual under 60 years of age can claim
                            the premium paid. Note that the premium paid is tax-deductible up to Rs. 50,000. People with
                            one of the parents above 60 years pay Rs. 75,000 as premium, while those with both parents
                            above 60 years pay Rs. 1 Lakh. So, buying health insurance policy now would make you
                            eligible for less deduction in income tax bills and help you gain more benefits.
                        </p>

                        <h4>Conclusion</h4>
                        <p>
                            Benefits of health insurance purchase are vast.
                            If you want to save yourself from financial instability, especially when you are mentally
                            and physically exhausted, buy a policy online today itself!
                            Don’t hesitate anymore in making the most of your money and choosing an ideal policy for
                            health insurance in India at an affordable premium.

                        </p>

                        <h4>Health insurance - top up plans</h4>
                        <p>
                            A top-up plan is a regular health insurance policy that covers hospitalisation costs but
                            only after a threshold limit, known as deductible, is crossed. A deductible is that portion
                            of the claim amount that is not covered by the insurer and has to be paid by the
                            policyholder before the benefits of the top-up policy can kick in.
                            The deductible feature of a top-up plan makes it cheaper because it reduces the liability of
                            the insurance company.
                            A top-up plan, therefore, is a cost-effective way to increase your health insurance cover.
                            You can take a base policy and a top-up over and above that policy. This way you can use
                            your base health insurance policy to make a claim up till the deductible amount and use your
                            top-up plan for any payments over that. But ensure the deductible is not more than the sum
                            insured you have taken in the base policy. So, suppose you have a health insurance policy
                            with a sum insured of ₹ 3 lakh, make sure the deductible in your top-up plan is not more
                            than ₹ 3 lakh.
                            This way if there is a claim of say more than ₹ 3 lakh, you can use both your base policy
                            and top-up plan to pay your bills.

                        </p>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <%- include('../components/footer.ejs') -%>